<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SnappAdd firstpage</title>
	<script src="../js/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-cookies.js"></script>
    <script src="../js/ng-image-picker.js"></script>
	<script src="../js/angular-animate.min.js"></script>
	<script src="../js/angular-aria.min.js"></script>
	<script src="../js/angular-material.min.js"></script>
	<script src="../js/angular-material-icons.min.js"></script>
	<script src="../js/angular-messages.min.js"></script>
	<script src="../js/angular-route.js"></script>
	<script src="../js/datePicker.min.js"></script>
	<script src="../js/moment.min.js"></script>
	<script src="../js/moment-jalaali.js"></script>
	<link href="../css/angular-material.min.css" rel="stylesheet" />
	<link href="../css/angular-material-font.css" rel="stylesheet" />
	<link href="../css/lf-ng-md-file-input.min.css" rel="stylesheet" />
	<script src="../js/lf-ng-md-file-input.min.js"></script>
	<script src="../js/app.js"></script>
	<script src="../js/ad_controller.js"></script>
	<script src="../js/ad_service.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
	<link href="../css/style.css" rel="stylesheet" />
	<script src="../js/ngMask.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="AdController" dir="rtl">
<div style="width:33%" layout="row" layout-align="center center">
	<a style="text-decoration:none;color:#8a8a8a"" href="#!">صفحه اصلی</a>|
	<a style="cursor:pointer;color:#8a8a8a" ng-click="showPopUp($event)">ورود</a>|
	<a style="cursor:pointer;color:#8a8a8a" ng-click="showRegDialog($event)">ثبت نام</a>
</div>
<md-toolbar style="background-color:white!important;" layout="row" layout-align="center center">
	<div style="width:80%;padding:0" class="md-toolbar-tools" layout="row" layout-align="space-between center">
		<div>
			<span style="color:#0477e2;font-weight:bold;font-size:30px;font-style:italic;font-family:inherit;width: 222px;">Snapp</span>
			<span style="color:black;font-weight:bold;font-size:30px;font-style:italic;font-family:inherit;width:222px;padding-right:10px">Ad</span>
		</div>
		<div>
			<!--<md-input-container placeholder="ورود/عضویت">
                <label style="color:black;cursor:pointer;">ورود/عضویت</label>
                <md-select ng-model="regLogins" style="width:160px;border:1px solid#e0e0e0;background-color:white;height:48px">
                    <md-option ng-click="showPopUp($event)">ورود</md-option>
                    <md-option ng-click="showRegDialog($event)">ثبت نام</md-option>
                    <md-option>آگهی های من</md-option>
                </md-select>
            </md-input-container>-->
			<a href="#!addReg">
				<md-button class="md-raised" style="background-color:#01b901;color:white;width:110px;border-radius:7px;">
					<div>
						<span style="color:white;">ثبت آگهی</span>
						<md-icon class="bold" style="color:white;">add</md-icon>
					</div>
				</md-button>
			</a>
		</div>
	</div>
</md-toolbar>
<script type="text/ng-template" id="pages/addReg.html">
	<div layout="row" layout-align="center center">
		<div layout="row"  layout-padding layout-xs="column">
			<md-card style="background-color: #f5f5f5;">
				<div class="md-block">
					<md-input-container class="md-block">
						<label>گروه بندی</label>
						<md-select ng-model="ad.cat"  style="border:1px solid#afafaf;border-radius:5px;background-color:white;" >
							<md-optgroup label="املاک">
								<md-option ng-value="topping.id" ng-repeat="topping in toppings | filter: {parent: '2' }">{{topping.name}}</md-option>
							</md-optgroup>
							<md-optgroup label="وسایل نقلیه">
								<md-option ng-value="topping.id" ng-repeat="topping in toppings | filter: {parent: '3' }">{{topping.name}}</md-option>
							</md-optgroup>
							<md-optgroup label="لوازم الکترونیکی">
								<md-option ng-value="topping.id" ng-repeat="topping in toppings | filter: {parent: '4' }">{{topping.name}}</md-option>
							</md-optgroup>
							<md-optgroup label="استخدام وکاریابی">
								<md-option ng-value="topping.id" ng-repeat="topping in toppings | filter: {parent: '5' }">{{topping.name}}</md-option>
							</md-optgroup>
							<md-optgroup label="لوازم خانه">
								<md-option ng-value="topping.id" ng-repeat="topping in toppings | filter: {parent: '6' }">{{topping.name}}</md-option>
							</md-optgroup>
							<md-optgroup label="لوازم شخصی">
								<md-option ng-value="topping.id" ng-repeat="topping in toppings | filter: {parent: '7' }">{{topping.name}}</md-option>
							</md-optgroup>
						</md-select>
					</md-input-container>
				</div>
				<md-input-container class="md-block" md-no-float>
					<label >عنوان آگهی</label>
					<input name="title" ng-model="ad.adsTitle" placeholder="" dir="ltr" type="text" style="border:1px solid #afafaf;border-radius:5px;background-color: white;">
				</md-input-container>
				<md-input-container class="md-block">
					<label>توضیحات آگهی</label>
					<textarea ng-model="ad.adsDescribe" md-maxlength="150" rows="3" md-select-on-focus></textarea>
				</md-input-container>
				<div layout="row" style="width:100%">
					<md-input-container style="width: 25%;">
						<label>استان</label>
						<md-select ng-model="ad.adsState" style="border:1px solid#afafaf;border-radius:5px;background-color:white;">
							<md-option ng-repeat="state in states " value="{{state.stateid}}">{{state.stateName}}</md-option>
						</md-select>
					</md-input-container >
					<md-input-container style="width: 25%;" class="md-block">
						<label>شهر</label>
						<md-select ng-model="ad.adsCity" style="border:1px solid#afafaf;border-radius:5px;background-color:white;">
							<md-option ng-repeat="city in cities " value="{{city.cityId}}">{{city.cityName}}</md-option>
						</md-select>
					</md-input-container >
					<md-input-container class="md-block" style="width: 50%;">
						<label>محله</label>
						<input ng-model="ad.neighbourhood" dir="ltr" type="text" style="height: 32px;border:1px solid#afafaf;border-radius:5px;background-color: white;">
					</md-input-container>
				</div>
			</md-card>
			<md-card style="background-color: #f5f5f5;" ng-show="ad.cat==15 || ad.cat==16 || ad.cat==17 || ad.cat==18|| ad.cat==19">
				<div layout="row" >
					<md-input-container style="width:100%" ng-show="ad.cat==15 || ad.cat==16 || ad.cat==17 || ad.cat==18|| ad.cat==19" md-no-float  class="md-block" >
						<label>متراژ</label>
						<input name="area" ng-model="ad.lenght" placeholder="" dir="ltr" type="text" style="border:1px solid#afafaf;border-radius:5px;background-color: white;">
					</md-input-container>
					<md-input-container style="width:100%" ng-show="ad.cat==15 || ad.cat==16 || ad.cat==17 || ad.cat==18" md-no-float  class="md-block">
						<label>سن بنا</label>
						<input name="age" ng-model="ad.age" placeholder="" dir="ltr" type="text" style="border:1px solid#afafaf;border-radius:5px;background-color: white;">
					</md-input-container>
				</div>
				<div layout="row" >
					<md-input-container style="width:100%" ng-show="ad.cat==15||ad.cat==16" md-no-float class="md-block">
						<label>تعداد اتاق</label>
						<input name="numberOfRooms" ng-model="ad.numberOfRooms" placeholder="" dir="ltr" type="text" style="border:1px solid#afafaf;border-radius:5px;background-color: white;">
					</md-input-container>
					<md-input-container style="width:100%" ng-show="ad.cat==15||ad.cat==17|| ad.cat==19" md-no-float  class="md-block">
						<label>قیمت</label>
						<input name="mortgage" ng-model="ad.price" placeholder="" dir="ltr" type="text" style="border:1px solid#afafaf;border-radius:5px;background-color: white;">
					</md-input-container>
					<md-input-container style="width:100%" ng-show="ad.cat==16||ad.cat==18" md-no-float class="md-block">
						<label>مبلغ رهن</label>
						<input name="rahn" ng-model="ad.rahn" placeholder="" dir="ltr" type="text" style="border:1px solid#afafaf;border-radius:5px;background-color: white;">
					</md-input-container>
				</div>
				<div style="width:100%" layout="row" layout-align="center center">
					<div style="width:50%"><md-input-container ng-show="ad.cat==16||ad.cat==18" md-no-float  class="md-block">
						<label>مبلغ اجاره</label>
						<input name="ejare" ng-model="ad.ejare" placeholder="" dir="ltr" type="text" style="border:1px solid#afafaf;border-radius:5px;background-color: white;">
					</md-input-container></div>
					<div style="width:50%;font-size: 12px;"><md-checkbox  area-label="امکان تبدیل مبلغ رهن و اجاره وجود دارد" ng-show="ad.cat==16|| ad.cat==18" ng-model="change">
						امکان تبدیل مبلغ رهن و اجاره وجود دارد
					</md-checkbox></div>
				</div>
				<div layout="row" layout-align="center center"  ng-show="ad.cat==15 || ad.cat==16 || ad.cat==17 || ad.cat==18">
					<div><md-checkbox ng-model="parking">
						پارکینگ
					</md-checkbox></div>
					<div><md-checkbox ng-model="asansor" >
						آسانسور
					</md-checkbox></div>
					<div><md-checkbox ng-model="anbari" >
						انباری
					</md-checkbox></div>
				</div>
				<div layout="row" layout-align="center center" style="font-size: 13px;font-weight: bold"><div>انتخاب یه عکس خوب واسه آگهیت میتونه شانس دیده شدن اونو چند برابر کنه!!</div></div>
				<div layout="row" layout-align="center center" style="margin-bottom:3px" ng-style="{'background-image':'url({{homeAppliancesImg.img}})', 'background-position': 'center center', 'background-size': 'cover'}">
					<div><image-picker image-selected="$ctrl.onImageSelected(imageFile)"></image-picker></div>
					<div><image-picker image-selected="$ctrl.onImageSelected(imageFile)"></image-picker></div>
					<div><image-picker image-selected="$ctrl.onImageSelected(imageFile)"></image-picker></div>
				</div>
				<div >
					<div style="background-color: #01b901;color: white;border-radius: 7px;text-align: center;" class="md-block"><md-button class="md-block">ثبت</md-button></div>
				</div>
			</md-card>
			<md-card style="background-color: #f5f5f5;" ng-show="ad.cat==8 || ad.cat==9 || ad.cat==10 || ad.cat==11|| ad.cat==12|| ad.cat==13|| ad.cat==14">
				<div layout="row">
					<md-input-container  class="md-block" md-no-float style="width:100%" ng-show="ad.cat==8">
						<label>برند</label>
						<md-select ng-model="ad.brand" style="border:1px solid#e0e0e0;border-radius:5px;background-color:white;">
							<md-input ng-repeat="brand in manufacturers" value="{{brand}}">{{brand}}</md-option>
						</md-select>
					</md-input-container>
					<md-input-container class="md-block" style="width:100%" ng-show="ad.cat==8|| ad.cat==9">
						<label>سال ساخت (چهار رقمی)</label>
						<input name="title" ng-model="ad.produceYear" placeholder="" dir="rtl" type="number" style="border:1px solid#e0e0e0;border-radius:5px;background-color: white;">
					</md-input-container>
				</div>
				<div layout="row">
					<md-input-container  class="md-block" md-no-float style="width:100%" ng-show="ad.cat==8">
						<label>کارکرد</label>
						<input name="title" ng-model="ad.kilometer" placeholder="" dir="rtl" type="number" style="border:1px solid#e0e0e0;border-radius:5px;background-color: white;">
					</md-input-container>
					<md-input-container class="md-block" style="width:100%" ng-show="ad.cat==8|| ad.cat==9">
						<label>رنگ</label>
						<input name="title" ng-model="ad.veichelColor" placeholder="" dir="rtl" type="text" style="border:1px solid#e0e0e0;border-radius:5px;background-color: white;">
					</md-input-container>
				</div>
				<div layout="row">
					<md-input-container class="md-block" md-no-float style="width:100%" ng-show="ad.cat==8">
						<label>قیمت</label>
						<input name="title" ng-model="ad.price" placeholder="" dir="rtl" type="number" style="border:1px solid#e0e0e0;border-radius:5px;background-color: white;">
					</md-input-container>
				</div>
				<div layout="row" layout-align="center center" style="font-size: 13px;font-weight: bold"><div>انتخاب یه عکس خوب واسه آگهیت میتونه شانس دیده شدن اونو چند برابر کنه!!</div></div>
				<div layout="row" layout-align="center center" style="margin-bottom:3px" ng-style="{'background-image':'url({{carImag.img}})', 'background-position': 'center center', 'background-size': 'contain'}">
					<div><image-picker image-selected="$ctrl.onImageSelected(imageFile)"></image-picker></div>
					<div><image-picker image-selected="$ctrl.onImageSelected(imageFile)"></image-picker></div>
					<div><image-picker image-selected="$ctrl.onImageSelected(imageFile)"></image-picker></div>
				</div>
				<div >
					<div style="background-color: #01b901;color: white;border-radius: 7px;text-align: center;" class="md-block"><md-button class="md-block">ثبت</md-button></div>
				</div>
			</md-card>
		</div>
		<div>
</script>
<script type="text/ng-template" id="pages/home.html">
	<div ng-show="firstPage" layout="row" layout-align="center center" style="width:80%;margin:0 auto" layout-padding>
		<span>اینجا یه سایت نیازمندیه که میتونی خودرو،املاک، گوشی موبایل، لوازم دست دوم و هرچی که فکرشو میکنی رو خیلی راحت خرید و فروش کنی.</span>
	</div>
	<div layout="row" layout-align="center center" style="background-color:white;width:79%;margin:7 auto;border-radius:5px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.21);">
		<md-input-container md-no-float md-icon-left style="padding:0 !important">
			<md-icon>search</md-icon>
			<label style="font-size:13px">جستجو در تمام آگهی ها</label>
			<input name="title" type="text" style="padding:24px;border:1px solid#e0e0e0;border-radius:5px;background-color:white;width:186px;height:50px;border-left:0;border-top-left-radius:0;border-bottom-left-radius:0;">
		</md-input-container>
		<md-input-container style="padding:0 !important">
			<label>همه آگهی ها</label>
			<md-select ng-model="ad.cat" style="width:160px;border:1px solid#e0e0e0;background-color:white;height:48px">
				<md-optgroup label="املاک">
					<md-option ng-value="topping.id" ng-repeat="topping in toppings | filter: {parent: '2' }">{{topping.name}}</md-option>
				</md-optgroup>
				<md-optgroup label="وسایل نقلیه">
					<md-option ng-value="topping.id" ng-repeat="topping in toppings | filter: {parent: '3' }">{{topping.name}}</md-option>
				</md-optgroup>
				<md-optgroup label="لوازم الکترونیکی">
					<md-option ng-value="topping.id" ng-repeat="topping in toppings | filter: {parent: '4' }">{{topping.name}}</md-option>
				</md-optgroup>
				<md-optgroup label="استخدام وکاریابی">
					<md-option ng-value="topping.id" ng-repeat="topping in toppings | filter: {parent: '5' }">{{topping.name}}</md-option>
				</md-optgroup>
				<md-optgroup label="لوازم خانه">
					<md-option ng-value="topping.id" ng-repeat="topping in toppings | filter: {parent: '6' }">{{topping.name}}</md-option>
				</md-optgroup>
				<md-optgroup label="لوازم شخصی">
					<md-option ng-value="topping.id" ng-repeat="topping in toppings | filter: {parent: '7' }">{{topping.name}}</md-option>
				</md-optgroup>
			</md-select>
		</md-input-container>
		<md-input-container style="padding:0 !important" hide-xs>
			<label>همه محله ها</label>
			<md-select ng-model="categoryList.categoryName" placeholder="همه محله ها" style="width:250px;border:1px solid#e0e0e0;background-color:white;height:48px;border-right: 0;">
				<md-option ng-repeat="cl in categoryList" value="{{cl.categoryName}}">
					{{cl.categoryName}}
				</md-option>
			</md-select>
		</md-input-container>
		<md-button class="md-primary" style="color:white;margin:0;background-color:#0477e2;width:65px;padding-right:0;margin-right:0;height:50px;border-radius:5px;border-bottom-right-radius:0;border-top-right-radius: 0;">جستجو</md-button>
	</div>
	<div layout="column" layout-align="center center">
		<div layout="row" layout-align="center center" layout-wrap style="width:99%;padding-top: 25px;" layout-xs="column">
			<md-card style="border-radius: 5px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.21);width:343px;height:260px" ng-repeat="x in largecategory">
				<md-card-title>
					<md-card-title-text>
						<div layout="row" layout-align="start center">
							<img style="width:24px" src="{{x.icon}}" />
							<span style="margin-right: 5px;" class="md-headline">{{x.cat}}</span>
						</div>
						<div class="md-subhead">({{x.totalNumber}})</div>
						<div ng-repeat="child in x.childs">
							<div style="padding: 4 0">
								<a style="padding: 0 7;text-decoration:none;color:#8a8a8a;font-size: 12px;box-shadow: 0 0 2px 0 rgba(3,10,22,.25);border-radius: 5px;" href="">{{child}}</a></div>
						</div>
					</md-card-title-text>
				</md-card-title>
				<md-card-actions layout="row" layout-align="end center">
					<md-button ng-click="func($index)">مشاهده ی همه</md-button>
				</md-card-actions>
			</md-card>
		</div>
		<div layout="row" layout-align="center center" layout-wrap style="width:99%;" layout-xs="column">
			<md-card style="border-radius: 5px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.21);width:252px;height:150px" ng-repeat="x in smallcategory">
				<md-card-title>
					<md-card-title-text>
						<div layout="column" layout-align="center center">
							<img style="width:32px" src="{{x.icon}}" />
							<span style="font-size:17px;" class="md-headline">{{x.cat}}</span>
						</div>
						<div layout="row" layout-align="center center" class="md-subhead">({{x.totalNumber}})</div>
					</md-card-title-text>
				</md-card-title>
				<md-card-actions layout="row" layout-align="end center">
					<md-button ng-click="func($index)">مشاهده ی همه</md-button>
				</md-card-actions>
			</md-card>
		</div>
	</div>
	<div layout="column" layout-align="center center">
		<span style="padding-top: 25px;">جدیدترین آگهی ها</span>
		<div layout="row" layout-align="center center" layout-wrap style="width:99%;" layout-xs="column">
			<md-card style="border-radius: 5px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.21);width:342px" ng-repeat="x in ads">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline hideText">{{x.adsTitle}}</span><!--{{x.adsTitle}}-->
						<span class="md-subhead">{{x.price}}</span><!--x.price-->
						<span class="md-subhead">{{x.adsTitle}}</span><!--x.adsTitle-->
						<span class="md-subhead">{{x.adsTitle}}</span><!--x.adsTitle-->
					</md-card-title-text>
					<md-card-title-media>
						<div class="md-media-md card-media">
							<img class="md-card-image" ng-src="{{personalImg.img}}" /><!--x.image_url-->
						</div>
					</md-card-title-media>
				</md-card-title>
				<md-card-actions layout="row" layout-align="end center">
					<span>{{x.adsDate}}</span><!--{{x.adsDate}}-->
					<md-button ng-click="func($index)">مشاهده آگهی</md-button>
				</md-card-actions>
			</md-card>
		</div>
	</div>
</script>
<div ng-view></div>
<div style="display:none">
	<div class="md-dialog-container" id="registerDialog" ng-controller="AdController">
		<md-dialog layout-padding style="overflow:hidden;width:850px!important;height:480px!important">
			<form name="registerForm">
				<md-dialog-content>
					<form name="userFormRegister" layout="column">
						<div layout="column" layout-margin>
							<div class="md-title" flex-gt-sm layout="row" layout-align="center center" layout-padding>
								جهت ثبت نام اطلاعات درخواستی را تکمیل بفرمایید
							</div>
							<div layout="row" layout-align="center center">
								<md-input-container class="md-block" flex-gt-sm layout-margin>
									<label>نام</label>
									<input required ng-pattern="/^[a-zA-Z\u0600-\u06FF,U+0020_ ]*$/" name="firstName" ng-model="user.username"  />
									<div ng-messages="userFormRegister.firstName.$error">
										<div ng-message="required">وارد نمودن نام الزامی میباشد.</div>
										<div ng-message="pattern" class="my-message">نام وارد شده معتبر نمیباشد.
										</div>
									</div>
								</md-input-container>
								<md-input-container class="md-block" flex-gt-sm layout-margin>
									<label>نام خانوادگی</label>
									<input required ng-pattern="/^[a-zA-Z\u0600-\u06FF,U+0020_ ]*$/" name="lastName" ng-model="user.lastName" />
									<div ng-messages="userFormRegister.lastName.$error">
										<div ng-message="required">وارد نمودن نام خانوادگی الزامی میباشد.</div>
										<div ng-message="pattern" class="my-message">نام وارد شده معتبر نمیباشد.
										</div>
									</div>
								</md-input-container>
							</div>
							<div layout="row">
								<md-input-container class="md-block" flex-gt-sm layout-margin>
									<label>ایمیل</label>
									<input name="usermail" ng-pattern="/^[a-zچ+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" type="text" dir="ltr" ng-model="user.usermail" required />
									<div ng-messages="userFormRegister.usermail.$error" role="alert" multiple>
										<div ng-message="required" class="my-message">وارد نمودن ایمیل الزامی میباشد</div>
										<div ng-message="pattern" class="my-message">ایمیل معتبر نمیباشد</div>
									</div>
								</md-input-container>
								<md-input-container class="md-block" flex-gt-sm layout-margin>
									<label>رمز عبور</label>
									<input type="password" required name="password" ng-model="user.userpass" />
									<div ng-messages="userFormRegister.password.$error">
										<div ng-message="required">وارد نمودن رمز عبور الزامی میباشد.</div>
									</div>
								</md-input-container>
							</div>
							<div layout="row">
								<md-input-container class="md-block" flex-gt-sm>
									<label>شماره تلفن همراه</label>
									<div><input name="mobileNumber" ng-model="user.mobileNumber" type="text" mask="9999-999 99 99" ng-pattern="/^[0-9]{4}-?[0-9]{3}\s?[0-9]{2}\s?[0-9]{2}$/" ng-maxlength="14" ng-minlength="14" dir="ltr" placeholder="0912-380-96-85" required  pattern-model></div>
									<div ng-messages="userFormRegister.mobileNumber.$error">
										<div ng-message="required" class="my-message">وارد نمودن شماره همراه الزامی میباشد.</div>
										<div ng-message="md-maxlength" class="my-message">شماره وارد شده نباید بیشتر از 11 رقم باشد</div>
										<div ng-message="minlength" class="my-message">شماره وارد شده نباید کمتر از 11 رقم باشد</div>
										<div ng-message="pattern" class="my-message">شماره وارد شده معتبر نمیباشد</div>
									</div>
								</md-input-container>
							</div>
						</div>
				</md-dialog-content>
				<md-dialog-actions layout="row" layout-align="end end">
					<div><md-button class="md-primary md-raised" style="background-color:#66cc68;color:white;border-radius: 3px;" ng-disabled="dialogForm.$invalid">ثبت</md-button> </div>
					<div><md-button ng-click="closePopUp($event)" class="md-primary md-raised" style="background-color:rgb(255,87,34);color:white;border-radius: 3px;">انصراف</md-button> </div>
				</md-dialog-actions>
			</form>
		</md-dialog>
	</div>
</div>
<div style="display:none">
	<div class="md-dialog-container" id="loginDialog">
		<md-dialog layout-padding style="overflow:hidden;width:850px !important;height:375px!important">
			<form name="dialogForm">
				<md-dialog-content>
					<form name="userFormLogin" >
						<div layout="column" layout-margin>
							<div flex-gt-sm layout="row" layout-align="center center" layout-padding>
								جهت ورود به سامانه شماره موبایل و رمز عبور خود را وارد کنید
							</div>
							<md-input-container class="md-block" flex-gt-sm>
								<label>شماره تلفن همراه</label>
								<div><input name="mobileNumber" ng-model="user.mobileNumber" type="text" mask="9999-999 99 99" ng-pattern="/^[0-9]{4}-?[0-9]{3}\s?[0-9]{2}\s?[0-9]{2}$/" ng-maxlength="14" ng-minlength="14" dir="ltr" placeholder="0912-380-96-85" required  pattern-model></div>
								<div ng-messages="userFormLogin.mobileNumber.$error">
									<div ng-message="required" class="my-message">وارد نمودن شماره همراه الزامی میباشد.</div>
									<div ng-message="md-maxlength" class="my-message">شماره وارد شده نباید بیشتر از 11 رقم باشد</div>
									<div ng-message="minlength" class="my-message">شماره وارد شده نباید کمتر از 11 رقم باشد</div>
									<div ng-message="pattern" class="my-message">شماره وارد شده معتبر نمیباشد</div>
								</div>
							</md-input-container>
							<md-input-container class="md-block" flex-gt-sm>
								<label>رمز عبور</label>
								<input type="password" required name="password" ng-model="user.userPass" />
								<div ng-messages="userFormLogin.password.$error">
									<div ng-message="required">وارد نمودن رمز عبور الزامی میباشد.</div>
								</div>
							</md-input-container>
						</div>
						<div layout="row" layout-align="space-between center" layout-margin layout-padding>
							<div layout-padding><a href="#">رمز عبور خود را فراموش کرده ام</a></div>
						</div>
					</form>
				</md-dialog-content>
				<md-dialog-actions layout="row" layout-align="end end">
					<div><md-button class="md-primary md-raised" style="background-color:#66cc68;color:white;border-radius: 3px;" ng-disabled="dialogForm.$invalid">ورود</md-button> </div>
					<div><md-button ng-click="closePopUp($event)" class="md-primary md-raised" style="background-color:rgb(255,87,34);color:white;border-radius: 3px;">انصراف</md-button> </div>
				</md-dialog-actions>
			</form>
		</md-dialog>
	</div>
</div>
<footer>
	<md-toolbar class="md-scroll-shrink">
		<div layout="row" layout-align="center center" flex>
			FOOTER INFO
		</div>
	</md-toolbar>
</footer>
</body>
</html>