<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SnappAdd firstpage</title>
	<script src="../js/angular.js"></script>
	<script src="../js/angular-local-storage.js"></script>
	<script src="../js/ng-image-picker.js"></script>
	<script src="../js/angular-animate.min.js"></script>
	<script src="../js/angular-aria.min.js"></script>
	<script src="../js/angular-material.min.js"></script>
	<script src="../js/angular-material-icons.min.js"></script>
	<script src="../js/angular-messages.min.js"></script>
	<script src="../js/angular-route.js"></script>
	<script src="../js/datePicker.min.js"></script>
	<script src="../js/moment.min.js"></script>
	<script src="../js/moment-jalaali.js"></script>
	<link href="../css/angular-material.min.css" rel="stylesheet" />
	<link href="../css/angular-material-font.css" rel="stylesheet" />
	<link href="../css/style.css" rel="stylesheet" />
	<script src="../js/app.js"></script>
	<script src="../js/ad_controller.js"></script>
	<script src="../js/ad_service.js"></script>

	<script src="../js/ngMask.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="AdController" dir="rtl">
<div style="width:33%" layout="row" layout-align="center center">
	<a style="text-decoration:none;color:#8a8a8a" href="#!">صفحه اصلی</a>|
	<a style="cursor:pointer;color:#8a8a8a" ng-click="showPopUp($event)">ورود</a>|
	<a style="cursor:pointer;color:#8a8a8a" ng-click="showRegDialog($event)">ثبت نام</a>
</div>
<md-toolbar style="background-color:white!important;" layout="row" layout-align="center center">
	<div style="width:80%;padding:0" class="md-toolbar-tools" layout="row" layout-align="space-between center">
		<div>
			<span style="color:#0477e2;font-weight:bold;font-size:30px;font-style:italic;font-family:inherit;width: 222px;">Snapp</span>
			<span style="color:black;font-weight:bold;font-size:30px;font-style:italic;font-family:inherit;width:222px;padding-right:10px">Ad</span>
		</div>
		<div layout="row" layout-align="space-between center">
			<!--<input placeholder="جستجو" type="text" name="searchInput" class="searchInput" />-->
			<div ng-show="showSearch" class="fade">
				<md-input-container class="searchInput">
					<!--<label style="font-size:10px">جستجو</label>-->
					<input type="search" name="searchInput" />
				</md-input-container>
			</div>

			<div>
				<md-button class="md-icon-button" ng-click="showSearch=!showSearch">
					<md-icon style="color:#b1b1b1">search</md-icon>
				</md-button>
				<!--<md-icon style="color:black;cursor:pointer;outline: none;" ng-click="showSearch=!showSearch">search</md-icon>-->
			</div>
			<div>
				<a href="#!addReg">
					<md-button class="md-raised" style="background-color:#01b901;color:white;width:110px;border-radius:7px;">
						<div>
							<span style="color:white;">ثبت آگهی</span>
							<md-icon class="bold" style="color:white;">add</md-icon>
						</div>
					</md-button>
				</a>
			</div>
		</div>
	</div>
</md-toolbar>

<script type="text/ng-template" id="pages/addReg.html">
	<div layout="row" layout-align="center center">
		<div layout="row"  layout-padding layout-xs="column">
			<md-card style="background-color: #f5f5f5;">
				<div class="md-block">
					<md-input-container class="md-block">
						<label>گروه بندی</label>
						<md-select ng-model="ad.cat"  style="border:1px solid#afafaf;border-radius:5px;background-color:white;" >
							<md-optgroup label="املاک">
								<md-option ng-value="topping.id" ng-repeat="topping in toppings | filter: {parent: '2' }">{{topping.name}}</md-option>
							</md-optgroup>
							<md-optgroup label="وسایل نقلیه">
								<md-option ng-value="topping.id" ng-repeat="topping in toppings | filter: {parent: '3' }">{{topping.name}}</md-option>
							</md-optgroup>
							<md-optgroup label="لوازم الکترونیکی">
								<md-option ng-value="topping.id" ng-repeat="topping in toppings | filter: {parent: '4' }">{{topping.name}}</md-option>
							</md-optgroup>
							<md-optgroup label="استخدام وکاریابی">
								<md-option ng-value="topping.id" ng-repeat="topping in toppings | filter: {parent: '5' }">{{topping.name}}</md-option>
							</md-optgroup>
							<md-optgroup label="لوازم خانه">
								<md-option ng-value="topping.id" ng-repeat="topping in toppings | filter: {parent: '6' }">{{topping.name}}</md-option>
							</md-optgroup>
							<md-optgroup label="لوازم شخصی">
								<md-option ng-value="topping.id" ng-repeat="topping in toppings | filter: {parent: '7' }">{{topping.name}}</md-option>
							</md-optgroup>
						</md-select>
					</md-input-container>
				</div>
				<md-input-container class="md-block" md-no-float>
					<label >عنوان آگهی</label>
					<input name="title" ng-model="ad.adsTitle" placeholder="" dir="ltr" type="text" style="border:1px solid #afafaf;border-radius:5px;background-color: white;">
				</md-input-container>
				<md-input-container class="md-block">
					<label>توضیحات آگهی</label>
					<textarea ng-model="ad.adsDescribe" md-maxlength="150" rows="3" md-select-on-focus></textarea>
				</md-input-container>
				<div layout="row" style="width:100%">
					<md-input-container style="width: 25%;">
						<label>استان</label>
						<md-select ng-model="ad.adsState" style="border:1px solid#afafaf;border-radius:5px;background-color:white;">
							<md-option ng-repeat="state in states " value="{{state.stateid}}">{{state.stateName}}</md-option>
						</md-select>
					</md-input-container >
					<md-input-container style="width: 25%;" class="md-block">
						<label>شهر</label>
						<md-select ng-model="ad.adsCity" style="border:1px solid#afafaf;border-radius:5px;background-color:white;">
							<md-option ng-repeat="city in cities " value="{{city.cityId}}">{{city.cityName}}</md-option>
						</md-select>
					</md-input-container >
					<md-input-container class="md-block" style="width: 50%;">
						<label>محله</label>
						<input ng-model="ad.neighbourhood" dir="ltr" type="text" style="height: 32px;border:1px solid#afafaf;border-radius:5px;background-color: white;">
					</md-input-container>
				</div>
			</md-card>
			<!--kharido foroshe maskan -->
			<md-card style="background-color: #f5f5f5;" ng-show="ad.cat==15 || ad.cat==16 || ad.cat==17 || ad.cat==18|| ad.cat==19">
				<div layout="row" >
					<md-input-container style="width:100%" ng-show="ad.cat==15 || ad.cat==16 || ad.cat==17 || ad.cat==18|| ad.cat==19" md-no-float  class="md-block" >
						<label>متراژ</label>
						<input name="area" ng-model="ad.lenght" placeholder="" dir="ltr" type="text" style="border:1px solid#afafaf;border-radius:5px;background-color: white;">
					</md-input-container>
					<md-input-container style="width:100%" ng-show="ad.cat==15 || ad.cat==16 || ad.cat==17 || ad.cat==18" md-no-float  class="md-block">
						<label>سن بنا</label>
						<input name="age" ng-model="ad.age" placeholder="" dir="ltr" type="text" style="border:1px solid#afafaf;border-radius:5px;background-color: white;">
					</md-input-container>
				</div>
				<div layout="row" >
					<md-input-container style="width:100%" ng-show="ad.cat==15||ad.cat==16" md-no-float class="md-block">
						<label>تعداد اتاق</label>
						<input name="numberOfRooms" ng-model="ad.numberOfRooms" placeholder="" dir="ltr" type="text" style="border:1px solid#afafaf;border-radius:5px;background-color: white;">
					</md-input-container>
					<md-input-container style="width:100%" ng-show="ad.cat==15||ad.cat==17|| ad.cat==19" md-no-float  class="md-block">
						<label>قیمت</label>
						<input name="mortgage" ng-model="ad.price" placeholder="" dir="ltr" type="text" style="border:1px solid#afafaf;border-radius:5px;background-color: white;">
					</md-input-container>
					<md-input-container style="width:100%" ng-show="ad.cat==16||ad.cat==18" md-no-float class="md-block">
						<label>مبلغ رهن</label>
						<input name="rahn" ng-model="ad.rahn" placeholder="" dir="ltr" type="text" style="border:1px solid#afafaf;border-radius:5px;background-color: white;">
					</md-input-container>
				</div>
				<div style="width:100%" layout="row" layout-align="center center">
					<div style="width:50%"><md-input-container ng-show="ad.cat==16||ad.cat==18" md-no-float  class="md-block">
						<label>مبلغ اجاره</label>
						<input name="ejare" ng-model="ad.ejare" placeholder="" dir="ltr" type="text" style="border:1px solid#afafaf;border-radius:5px;background-color: white;">
					</md-input-container></div>
					<div style="width:50%;font-size: 12px;"><md-checkbox  area-label="امکان تبدیل مبلغ رهن و اجاره وجود دارد" ng-show="ad.cat==16|| ad.cat==18" ng-model="change">
						امکان تبدیل مبلغ رهن و اجاره وجود دارد
					</md-checkbox></div>
				</div>
				<div layout="row" layout-align="center center"  ng-show="ad.cat==15 || ad.cat==16 || ad.cat==17 || ad.cat==18">
					<div><md-checkbox ng-model="parking">
						پارکینگ
					</md-checkbox></div>
					<div><md-checkbox ng-model="asansor" >
						آسانسور
					</md-checkbox></div>
					<div><md-checkbox ng-model="anbari" >
						انباری
					</md-checkbox></div>
				</div>
				<div layout="row" layout-align="center center" style="font-size: 13px;font-weight: bold"><div>انتخاب یه عکس خوب واسه آگهیت میتونه شانس دیده شدن اونو چند برابر کنه!!</div></div>
				<div layout="row" layout-align="center center" style="margin-bottom:10px;margin-top: 10px;" ng-style="{'background-image':'url({{homeAppliancesImg.img}})', 'background-position': 'center center', 'background-size': 'cover'}">
					<div><image-picker image-selected="$ctrl.onImageSelected(imageFile)"></image-picker></div>
					<div><image-picker image-selected="$ctrl.onImageSelected(imageFile)"></image-picker></div>
					<div><image-picker image-selected="$ctrl.onImageSelected(imageFile)"></image-picker></div>
				</div>
				<div >
					<div style="background-color: #01b901;color: white;border-radius: 7px;text-align: center;" ng-click="sendRegisterAdData()" class="md-block"><md-button class="md-block">ثبت</md-button></div>
				</div>
			</md-card>
			<!--khodro -->
			<md-card style="background-color: #f5f5f5;" ng-show="ad.cat==8 || ad.cat==9 || ad.cat==10 || ad.cat==11|| ad.cat==12|| ad.cat==13|| ad.cat==14">
				<div layout="row">
					<md-input-container  class="md-block" md-no-float style="width:100%" ng-show="ad.cat==8">
						<label>برند</label>
						<md-select ng-model="ad.brand" style="border:1px solid#e0e0e0;border-radius:5px;background-color:white;">
							<md-input ng-repeat="brand in manufacturers" value="{{brand}}" />{{brand}}</md-option>
						</md-select>
					</md-input-container>
					<md-input-container class="md-block" style="width:100%" ng-show="ad.cat==8|| ad.cat==9">
						<label>سال ساخت (چهار رقمی)</label>
						<input name="title" ng-model="ad.produceYear" placeholder="" dir="rtl" type="number" style="border:1px solid#e0e0e0;border-radius:5px;background-color: white;">
					</md-input-container>
				</div>
				<div layout="row">
					<md-input-container  class="md-block" md-no-float style="width:100%" ng-show="ad.cat==8">
						<label>کارکرد</label>
						<input name="title" ng-model="ad.kilometer" placeholder="" dir="rtl" type="number" style="border:1px solid#e0e0e0;border-radius:5px;background-color: white;">
					</md-input-container>
					<md-input-container class="md-block" style="width:100%" ng-show="ad.cat==8|| ad.cat==9">
						<label>رنگ</label>
						<input name="title" ng-model="ad.veichelColor" placeholder="" dir="rtl" type="text" style="border:1px solid#e0e0e0;border-radius:5px;background-color: white;">
					</md-input-container>
				</div>
				<div layout="row">
					<md-input-container class="md-block" md-no-float style="width:100%" ng-show="ad.cat==8">
						<label>قیمت</label>
						<input name="title" ng-model="ad.price" placeholder="" dir="rtl" type="number" style="border:1px solid#e0e0e0;border-radius:5px;background-color: white;">
					</md-input-container>
				</div>
				<div layout="row" layout-align="center center" style="font-size: 13px;font-weight: bold"><div>انتخاب یه عکس خوب واسه آگهیت میتونه شانس دیده شدن اونو چند برابر کنه!!</div></div>
				<div layout="row" layout-align="center center" style="margin-bottom:10px;margin-top: 10px;" ng-style="{'background-image':'url({{carImag.img}})', 'background-position': 'center center', 'background-size': 'contain'}">
					<div><image-picker image-selected="$ctrl.onImageSelected(imageFile)"></image-picker></div>
					<div><image-picker image-selected="$ctrl.onImageSelected(imageFile)"></image-picker></div>
					<div><image-picker image-selected="$ctrl.onImageSelected(imageFile)"></image-picker></div>
				</div>
				<div >
					<div style="background-color: #01b901;color: white;border-radius: 7px;text-align: center;" class="md-block"><md-button class="md-block">ثبت</md-button></div>
				</div>
			</md-card>
			<!--lavazeme pc -->
			<md-card style="background-color: #f5f5f5;" ng-show="ad.cat==21||ad.cat==22||ad.cat==23||ad.cat==24||ad.cat==25||ad.cat==26||ad.cat==27||ad.cat==28">
				<div layout="row">
					<md-input-container  class="md-block" md-no-float style="width:100%" ng-show="ad.cat==21||ad.cat==22||ad.cat==23||ad.cat==24||ad.cat==25">
						<label>برند</label>
						<md-select ng-model="ad.brand" style="border:1px solid#e0e0e0;border-radius:5px;background-color:white;">
							<md-input ng-repeat="brand in manufacturers" value="{{brand}}" />{{brand}}</md-option>
						</md-select>
					</md-input-container>
					<md-input-container class="md-block" style="width:100%" ng-show="ad.cat==21||ad.cat==22||ad.cat==23||ad.cat==24||ad.cat==25">
						<label>مدل</label>
						<input name="title" ng-model="ad.produceYear" placeholder="" dir="rtl" type="number" style="border:1px solid#e0e0e0;border-radius:5px;background-color: white;">
					</md-input-container>
				</div>
				<div layout="row">
					<md-input-container  class="md-block" md-no-float style="width:100%" ng-show="ad.cat==21||ad.cat==22||ad.cat==23||ad.cat==24||ad.cat==25||ad.cat==26||ad.cat==27||ad.cat==28">
						<label>قیمت</label>
						<input name="title" ng-model="ad.kilometer" placeholder="" dir="rtl" type="number" style="border:1px solid#e0e0e0;border-radius:5px;background-color: white;">
					</md-input-container>

				</div>
				<div layout="row" layout-align="center center" style="font-size: 13px;font-weight: bold"><div>انتخاب یه عکس خوب واسه آگهیت میتونه شانس دیده شدن اونو چند برابر کنه!!</div></div>
				<div layout="row" layout-align="center center" style="margin-bottom:10px;margin-top: 10px;" ng-style="{'background-image':'url({{carImag.img}})', 'background-position': 'center center', 'background-size': 'contain'}">
					<div><image-picker image-selected="$ctrl.onImageSelected(imageFile)"></image-picker></div>
					<div><image-picker image-selected="$ctrl.onImageSelected(imageFile)"></image-picker></div>
					<div><image-picker image-selected="$ctrl.onImageSelected(imageFile)"></image-picker></div>
				</div>
				<div >
					<div style="background-color: #01b901;color: white;border-radius: 7px;text-align: center;" class="md-block"><md-button class="md-block">ثبت</md-button></div>
				</div>
			</md-card>
			<!--lavazeme khane -->
			<md-card style="background-color: #f5f5f5;" ng-show="ad.cat==31||ad.cat==32||ad.cat==33||ad.cat==34||ad.cat==35||ad.cat==36">
				<div layout="row">
					<md-input-container  class="md-block" md-no-float style="width:100%">
						<label>قیمت</label>
						<input name="title" ng-model="ad.kilometer" placeholder="" dir="rtl" type="number" style="border:1px solid#e0e0e0;border-radius:5px;background-color: white;">
					</md-input-container>
				</div>
				<div layout="row" layout-align="center center" style="font-size: 13px;font-weight: bold"><div>انتخاب یه عکس خوب واسه آگهیت میتونه شانس دیده شدن اونو چند برابر کنه!!</div></div>
				<div layout="row" layout-align="center center" style="margin-bottom:10px;margin-top: 10px;" ng-style="{'background-image':'url({{carImag.img}})', 'background-position': 'center center', 'background-size': 'contain'}">
					<div><image-picker image-selected="$ctrl.onImageSelected(imageFile)"></image-picker></div>
					<div><image-picker image-selected="$ctrl.onImageSelected(imageFile)"></image-picker></div>
					<div><image-picker image-selected="$ctrl.onImageSelected(imageFile)"></image-picker></div>
				</div>
				<div>
					<div style="background-color: #01b901;color: white;border-radius: 7px;text-align: center;" class="md-block"><md-button class="md-block">ثبت</md-button></div>
				</div>
			</md-card>
			<!--lavazeme shakhsi -->
			<md-card style="background-color: #f5f5f5;" ng-show="ad.cat==37||ad.cat==38||ad.cat==39||ad.cat==40">
				<div layout="row">
					<md-input-container  class="md-block" md-no-float style="width:100%">
						<label>قیمت</label>
						<input name="title" ng-model="ad.kilometer" placeholder="" dir="rtl" type="number" style="border:1px solid#e0e0e0;border-radius:5px;background-color: white;">
					</md-input-container>
				</div>
				<div layout="row" layout-align="center center" style="font-size: 13px;font-weight: bold"><div>انتخاب یه عکس خوب واسه آگهیت میتونه شانس دیده شدن اونو چند برابر کنه!!</div></div>
				<div layout="row" layout-align="center center" style="margin-bottom:10px;margin-top: 10px;" ng-style="{'background-image':'url({{carImag.img}})', 'background-position': 'center center', 'background-size': 'contain'}">
					<div><image-picker image-selected="$ctrl.onImageSelected(imageFile)"></image-picker></div>
					<div><image-picker image-selected="$ctrl.onImageSelected(imageFile)"></image-picker></div>
					<div><image-picker image-selected="$ctrl.onImageSelected(imageFile)"></image-picker></div>
				</div>
				<div>
					<div style="background-color: #01b901;color: white;border-radius: 7px;text-align: center;" class="md-block"><md-button class="md-block">ثبت</md-button></div>
				</div>
			</md-card>
		</div>
	</div>
</script>
<script type="text/ng-template" id="pages/home.html">
	<div ng-show="firstPage" layout="row" layout-align="center center" style="margin:0 auto" layout-padding>
		<span>اینجا یه سایت نیازمندیه که میتونی خودرو،املاک، گوشی موبایل، لوازم دست دوم و هرچی که فکرشو میکنی رو خیلی راحت خرید و فروش کنی.</span>
	</div>
	<hr class="borderStyleList">
	<!-- card ha moratab shod -->
	<div layout="column" layout-align="center center">
		<div layout="row" layout-align="center center" layout-wrap style="width:90%;padding-top: 25px;" layout-xs="column">
			<md-card style="border-radius: 5px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.21);width: 365px;height: 316px;" ng-repeat="x in largecategory">
				<md-card-title>
					<md-card-title-text>
						<div layout="row" layout-align="start center">
							<img style="width:24px" src="{{x.icon}}" />
							<span style="margin-right: 5px;" class="md-headline">{{x.cat}}</span>
						</div>
						<div class="md-subhead">({{x.totalNumber}})</div>
						<div ng-repeat="child in x.childs">
							<div style="padding: 4px 0px">
								<a style="padding: 0px 7px;text-decoration:none;color:#8a8a8a;font-size: 12px;box-shadow: 0 0 2px 0 rgba(3,10,22,.25);border-radius: 5px;" href="">{{child}}</a>
							</div>
						</div>
					</md-card-title-text>
					<md-card-title-media>
						<div class="md-media-lg card-media"></div>
					</md-card-title-media>
				</md-card-title>
				<md-card-actions layout="row" layout-align="end center">
					<md-button ng-click="func($index)">مشاهده ی همه</md-button>
				</md-card-actions>
			</md-card>
		</div>
		<div layout="row" layout-align="center center" layout-wrap layout-xs="column">
			<md-card style="border-radius: 5px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.21);width:212px;height: 180px" ng-repeat="x in smallcategory">
				<md-card-title>
					<md-card-title-text>
						<div layout="column" layout-align="center center">
							<img style="width:24px" src="{{x.icon}}" />
							<span style="font-size:14px;" class="md-headline">{{x.cat}}</span>
						</div>
						<div layout="row" layout-align="center center" class="md-subhead">({{x.totalNumber}})</div>
					</md-card-title-text>
					<md-card-title-media>
						<div class="md-media-sm card-media"></div>
					</md-card-title-media>
				</md-card-title>
				<md-card-actions layout="row" layout-align="end center">
					<md-button ng-click="func($index)">مشاهده ی همه</md-button>
				</md-card-actions>
			</md-card>
		</div>
	</div>
	<div layout="column" layout-align="center center">
		<span style="padding-top: 25px;">جدیدترین آگهی ها</span>
		<hr class="borderStyleList">

		<div layout="row" layout-align="center center" layout-wrap style="width:90%;" layout-xs="column">
			<md-card style="border-radius: 5px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.21);width: 360px;height: 235px;" ng-repeat="x in ads">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline hideText">{{x.adsTitle}}</span><!--{{x.adsTitle}}-->
						<span class="md-subhead">{{x.price}}</span><!--x.price-->
						<span class="md-subhead">{{x.adsTitle}}</span><!--x.adsTitle-->
						<span class="md-subhead">{{x.adsTitle}}</span><!--x.adsTitle-->
					</md-card-title-text>
					<md-card-title-media>
						<div class="md-media-lg card-media">
							<img class="md-card-image" ng-src="{{personalImg.img}}" /><!--x.image_url-->
						</div>
					</md-card-title-media>
				</md-card-title>
				<md-card-actions layout="row" layout-align="end center">
					<span>{{x.adsDate}}</span><!--{{x.adsDate}}-->
					<md-button ng-click="showAd(x)" href="#!showReg">مشاهده آگهی</md-button>
				</md-card-actions>
			</md-card>
		</div>
	</div>
</script>

<script type="text/ng-template" id="pages/showReg.html">
	<div ng-init="initRecords()" layout="row" layout-align="space-between center" layout-padding>
		<div flex="50" layout-align="center center">
			<div layout="column" layout-align="center center">
				<div class="title" ng-bind="selectedAd.adsTitle"></div>
				<div layout="row">
					<div ng-bind="selectedAd.price"></div>
					<div>تومان</div>
				</div>
				<div ng-bind="selectedAd.date"></div>

				<!-- etelaate marbot b state o city o mahale vali tu json state o mahale nist
				<div layout="row" layout-align="space-between center">
					<div ng-bind="selectedAd.adsState"></div>
					<div ng-bind="selectedAd.adsCity"></div>
					<div ng-bind="selectedAd.adsNeiberhood"></div>
				</div>-->
			</div>
			<hr class="borderStyleList">
			<div class="" ng-if="selectedAd.cat==2">
				<div class="setButtomBorder" layout="row" layout-align="space-between center">
					<div>گروه بندی:</div>
					<div>املاک</div>
				</div>
				<div class="setButtomBorder" layout="row" layout-align="space-between center">
					<div>متراژ:</div>
					<div layout="row"><div>100</div><div>متر</div></div>
				</div>
				<div class="setButtomBorder" layout="row" layout-align="space-between center">
					<div>سن بنا:</div>
					<div>1398</div>
				</div>
				<div class="setButtomBorder" layout="row" layout-align="space-between center">
					<div>تعداد اتاق:</div>
					<div>2</div>
				</div>
				<div class="setButtomBorder" layout="row" layout-align="space-between center">
					<div>مبلغ رهن:</div>
					<div>200000</div>
				</div>
				<div class="setButtomBorder" layout="row" layout-align="space-between center">
					<div>مبلغ اجاره:</div>
					<div>200</div>
				</div>
				<div class="setButtomBorder" ng-if="">امکان تبدیل مبلغ رهن و اجاره وجود دارد.</div>
				<div class="setButtomBorder" layout="row" layout-align="space-between center">
					<div layout="row"><div>پارکینگ</div><div ng-if="selectedAd.cat==2">دارد</div><div ng-if="selectedAd.cat==0">ندارد</div></div>
					<div layout="row"><div>انباری</div><div ng-if="">دارد</div><div ng-if="selectedAd.cat==2">ندارد</div></div>
					<div layout="row"><div>آسانسور</div><div ng-if="">دارد</div><div ng-if="selectedAd.cat==2">ندارد</div></div>
				</div>

			</div>
			<div ng-if="selectedAd.cat==3">
				<div  class="setButtomBorder" layout="row" layout-align="space-between center">
					<div>گروه بندی:</div>
					<div>وساِیل نقلیه</div>
				</div>
				<div class="setButtomBorder" layout="row" layout-align="space-between center">
					<div>برند:</div>
					<div>سایپا</div>
				</div>
				<div class="setButtomBorder" layout="row" layout-align="space-between center">
					<div>کارکرد:</div>
					<div>123450000</div>
				</div>
				<div class="setButtomBorder" layout="row" layout-align="space-between center">
					<div>رنگ:</div>
					<div>نقره ای</div>
				</div>
				<div class="setButtomBorder" layout="row" layout-align="space-between center">
					<div>قیمت:</div>
					<div>43000000</div>
				</div>
			</div>
			<div ng-if="selectedAd.cat==4">
				<div class="setButtomBorder" layout="row" layout-align="space-between center">
					<div>گروه بندی:</div>
					<div>لوازم الکترونیکی</div>
				</div>
				<div class="setButtomBorder" layout="row" layout-align="space-between center">
					<div>برند:</div>
					<div>ایسوز</div>
				</div>
				<div class="setButtomBorder" layout="row" layout-align="space-between center">
					<div>مدل:</div>
					<div>x550l</div>
				</div>
				<div class="setButtomBorder" layout="row" layout-align="space-between center">
					<div>قیمت:</div>
					<div>500000</div>
				</div>
			</div>
			<div ng-if="selectedAd.cat==5">
				<div  layout="row" layout-align="space-between center">
					<div>گروه بندی:</div>
					<div>استخدام و کاریابی</div>
				</div>
			</div>
			<div ng-if="selectedAd.cat==6">
				<div layout="row" layout-align="space-between center">
					<div>گروه بندی:</div>
					<div>لوازم خانه</div>
				</div>
				<div layout="row" layout-align="space-between center">
					<div>قیمت:</div>
					<div>500000</div>
				</div>
			</div>
			<div ng-if="selectedAd.cat==7">
				<div layout="row" layout-align="space-between center">
					<div>گروه بندی:</div>
					<div>لوازم شخصی</div>
				</div>
				<div layout="row" layout-align="space-between center">
					<div>قیمت:</div>
					<div>500000</div>
				</div>
			</div>
			<div ng-if="selectedAd.cat==8">
				<div layout="row" layout-align="space-between center">
					<div>گروه بندی:</div>
					<div>ورزش و فراغت</div>
				</div>
				<div layout="row" layout-align="space-between center">
					<div>قیمت:</div>
					<div>500000</div>
				</div>
			</div>
			<div class="setButtomBorder" layout="column">
				<div>توضیحات آگهی:</div>
				<div ng-bind="selectedAd.adsDescribe"></div>
			</div>
			<div>
				<div layout="row" layout-align="space-between center">
					<div>نمایش اطلاعات صاحب آگهی</div>
					<div><md-icon style="cursor:pointer;outline:none" ng-click="showOwnerInfo=!showOwnerInfo">more</md-icon></div>
				</div>
				<div ng-show="showOwnerInfo">
					<div layout="row" layout-align="space-between center">
						<div>شماره تماس</div>
						<div>01358558888</div>
					</div>
				</div>
			</div>
		</div>
		<div flex="50">
			<md-button data-ng-click="vm.navigateNext()">►</md-button>
			<a data-ng-click="vm.navigateNext()"><img style="width:400px;height:400px;" src="{{vm.currentImgSrc}}" /></a>
			<md-button data-ng-click="vm.navigatePrevious()">◄</md-button>
		</div>
	</div>
</script>

<div ng-view></div>
<!--login/register moratab shod-->
<div style="display:none">
	<div class="md-dialog-container" id="registerDialog">
		<md-dialog class="mdDialogStyle">
			<form name="registerForm">
				<md-toolbar style="background-color:rgb(224, 224, 224);color:#737373;" layout-padding>
					<div layout="row" layout-align="space-between center">
						<div>جهت ثبت نام در سایت اطلاعات درخواستی را تکمیل کنید</div>
					</div>
				</md-toolbar>
				<div layout="row" layout-align="space-between center" layout-padding>
					<md-input-container class="md-block" flex-gt-sm>
						<label>شماره تلفن همراه</label>
						<div><input name="mobileNumber" ng-model="user.mobileNumber" type="text" mask="9999-999 99 99" ng-pattern="/^[0-9]{4}-?[0-9]{3}\s?[0-9]{2}\s?[0-9]{2}$/" ng-maxlength="14" ng-minlength="14" dir="ltr" placeholder="0912-380-96-85" required  pattern-model></div>
						<div ng-messages="registerForm.mobileNumber.$error">
							<div ng-message="required" class="my-message">وارد نمودن شماره همراه الزامی میباشد.</div>
							<div ng-message="md-maxlength" class="my-message">شماره وارد شده نباید بیشتر از 11 رقم باشد</div>
							<div ng-message="minlength" class="my-message">شماره وارد شده نباید کمتر از 11 رقم باشد</div>
							<div ng-message="pattern" class="my-message">شماره وارد شده معتبر نمیباشد</div>
						</div>
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm>
						<label>رمز عبور</label>
						<input type="password" required name="password" ng-model="user.userPass" />
						<div ng-messages="registerForm.password.$error">
							<div ng-message="required">وارد نمودن رمز عبور الزامی میباشد.</div>
						</div>
					</md-input-container>
				</div>
				<md-dialog-actions layout="row" layout-align="end end">
					<div><md-button  ng-click="sendLoginData()" class="md-primary md-raised" style="background-color:#66cc68;color:white;border-radius: 3px;" ng-disabled="dialogForm.$invalid">ورود</md-button> </div>
					<div><md-button ng-click="closePopUp($event)" class="md-primary md-raised" style="background-color:rgb(255,87,34);color:white;border-radius: 3px;">انصراف</md-button> </div>
				</md-dialog-actions>
			</form>
		</md-dialog>
	</div>
</div>

<div style="display:none">
	<div class="md-dialog-container" id="loginDialog">
		<md-dialog class="mdDialogStyle">
			<form name="loginForm">
				<md-toolbar style="background-color:rgb(224, 224, 224);color:#737373;" layout-padding>
					<div layout="row" layout-align="space-between center">
						<div>جهت ورود به سایت اطلاعات درخواستی را تکمیل کنید</div>
					</div>
				</md-toolbar>
				<div layout="row" layout-align="space-between center" layout-padding>
					<md-input-container class="md-block" flex-gt-sm>
						<label>شماره تلفن همراه</label>
						<div><input name="mobileNumber" ng-model="user.mobileNumber" type="text" mask="9999-999 99 99" ng-pattern="/^[0-9]{4}-?[0-9]{3}\s?[0-9]{2}\s?[0-9]{2}$/" ng-maxlength="14" ng-minlength="14" dir="ltr" placeholder="0912-380-96-85" required  pattern-model></div>
						<div ng-messages="loginForm.mobileNumber.$error">
							<div ng-message="required" class="my-message">وارد نمودن شماره همراه الزامی میباشد.</div>
							<div ng-message="md-maxlength" class="my-message">شماره وارد شده نباید بیشتر از 11 رقم باشد</div>
							<div ng-message="minlength" class="my-message">شماره وارد شده نباید کمتر از 11 رقم باشد</div>
							<div ng-message="pattern" class="my-message">شماره وارد شده معتبر نمیباشد</div>
						</div>
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm>
						<label>رمز عبور</label>
						<input type="password" required name="password" ng-model="user.userPass" />
						<div ng-messages="loginForm.password.$error">
							<div ng-message="required">وارد نمودن رمز عبور الزامی میباشد.</div>
						</div>
					</md-input-container>
				</div>
				<div layout="row" layout-align="space-between center">
					<div layout-padding><a href="#">رمز عبور خود را فراموش کرده ام</a></div>
				</div>
				<md-dialog-actions layout="row" layout-align="end end">
					<div><md-button  ng-click="sendLoginData()" class="md-primary md-raised" style="background-color:#66cc68;color:white;border-radius: 3px;" ng-disabled="dialogForm.$invalid">ورود</md-button> </div>
					<div><md-button ng-click="closePopUp($event)" class="md-primary md-raised" style="background-color:rgb(255,87,34);color:white;border-radius: 3px;">انصراف</md-button> </div>
				</md-dialog-actions>
			</form>
		</md-dialog>
	</div>
</div>
<footer>
	<md-toolbar class="md-scroll-shrink">
		<div layout="row" layout-align="center center" flex>
			FOOTER INFO
		</div>
	</md-toolbar>
</footer>
</body>
</html>